@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.App {
   padding: 32px;
   font-family: 'Roboto', sans-serif;
}

.btn {
   display: flex;
   text-align: center;
   justify-content: center;
   text-transform: capitalize;
   letter-spacing: 2px;
   font-size: 18px;
   border: none;
   outline: none;
   background-color: rgb(13,110,253);
   font-weight: 500;
   color: #fff;
   padding: 8px 20px;
   border-radius: 10px;
   box-shadow: 0 0 5px rgba(0 0 0 / 30%);
   min-width: 90px;
   transition: all 0.3s;
}

.btn.btn--danger {
   background-color: rgb(220,53,69);
}

.btn:hover {
   cursor: pointer;
   opacity: 0.7;
}

.mb-16 {
   margin-bottom: 16px;
}

.mt-16 {
   margin-top: 16px;
}

input::-webkit-inner-spin-button {
   appearance: none;
   
}

.time-input {
   margin: 16px 8px;
}